<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Flask - Login</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>LOGIN</h1>
        {% if error %}
        <div class="alert">{{ error }}</div>
        {% endif %}
        <form action="" method="POST">
                <label for="username">USERNAME</label>
                <input type="text" required name="username" id="username" >
                <label for="password">PASSWORD</label>
                <input type="password" required name="password" id="password">
                <input type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>
