{% extends "layout.html" %}
{% block content %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Plugin DataTable</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Full Name</th>
                  <th>Job Title</th>
                  <th>Username</th>
                  <th>E-mail</th>
                  <th>Gender</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Elianora Montacute</td>
                    <td>Marketing Manager</td>
                    <td>emontacute0</td>
                    <td>emontacute0@163.com</td>
                    <td>M</td>
                <tr>
                    <td>Sheila Farrear</td>
                    <td>Teacher</td>
                    <td>sfarrear1</td>
                    <td>sfarrear1@com.com</td>
                    <td>M</td>
                <tr>
                    <td>Martie Pilley</td>
                    <td>Chemical Engineer</td>
                    <td>mpilley2</td>
                    <td>mpilley2@macromedia.com</td>
                    <td>F</td>
                <tr>
                    <td>Bettina Tschirschky</td>
                    <td>Librarian</td>
                    <td>btschirschky3</td>
                    <td>btschirschky3@gizmodo.com</td>
                    <td>F</td>
                <tr>
                    <td>Giff Rittmeyer</td>
                    <td>GIS Technical Architect</td>
                    <td>grittmeyer4</td>
                    <td>grittmeyer4@businesswire.com</td>
                    <td>F</td>
                <tr>
                    <td>Allison Gatehouse</td>
                    <td>Analog Circuit Design manager</td>
                    <td>agatehouse5</td>
                    <td>agatehouse5@hubpages.com</td>
                    <td>F</td>
                <tr>
                    <td>Ignaz O'Hollegan</td>
                    <td>Programmer Analyst IV</td>
                    <td>iohollegan6</td>
                    <td>iohollegan6@msn.com</td>
                    <td>M</td>
                <tr>
                    <td>Werner Landells</td>
                    <td>Recruiting Manager</td>
                    <td>wlandells7</td>
                    <td>wlandells7@vimeo.com</td>
                    <td>M</td>
                <tr>
                    <td>Jasmin Pettwood</td>
                    <td>Pharmacist</td>
                    <td>jpettwood8</td>
                    <td>jpettwood8@macromedia.com</td>
                    <td>F</td>
                <tr>
                    <td>Norbie Kassman</td>
                    <td>VP Sales</td>
                    <td>nkassman9</td>
                    <td>nkassman9@apache.org</td>
                    <td>M</td>
                <tr>
                    <td>Sharity Flaxman</td>
                    <td>Computer Systems Analyst IV</td>
                    <td>sflaxmana</td>
                    <td>sflaxmana@indiatimes.com</td>
                    <td>M</td>
                <tr>
                    <td>Arlie Ingleby</td>
                    <td>Staff Accountant IV</td>
                    <td>ainglebyb</td>
                    <td>ainglebyb@noaa.gov</td>
                    <td>F</td>
                <tr>
                    <td>Gilburt Kiezler</td>
                    <td>Developer II</td>
                    <td>gkiezlerc</td>
                    <td>gkiezlerc@umn.edu</td>
                    <td>F</td>
                <tr>
                    <td>Joshuah Gravatt</td>
                    <td>Librarian</td>
                    <td>jgravattd</td>
                    <td>jgravattd@mashable.com</td>
                    <td>M</td>
                <tr>
                    <td>Dov Southouse</td>
                    <td>Staff Accountant I</td>
                    <td>dsouthousee</td>
                    <td>dsouthousee@gov.uk</td>
                    <td>M</td>
                <tr>
                    <td>Ermin Cawsby</td>
                    <td>Director of Sales</td>
                    <td>ecawsbyf</td>
                    <td>ecawsbyf@deliciousdays.com</td>
                    <td>F</td>
                <tr>
                    <td>Faye Mantrup</td>
                    <td>Librarian</td>
                    <td>fmantrupg</td>
                    <td>fmantrupg@slashdot.org</td>
                    <td>F</td>
                <tr>
                    <td>Idette Swindell</td>
                    <td>Business Systems Development Analyst</td>
                    <td>iswindellh</td>
                    <td>iswindellh@cdc.gov</td>
                    <td>M</td>
                <tr>
                    <td>Lauren Angeau</td>
                    <td>Assistant Manager</td>
                    <td>langeaui</td>
                    <td>langeaui@dagondesign.com</td>
                    <td>M</td>
                <tr>
                    <td>Arthur Jeger</td>
                    <td>Electrical Engineer</td>
                    <td>ajegerj</td>
                    <td>ajegerj@geocities.com</td>
                    <td>F</td>
                <tr>
                    <td>Mordecai Donhardt</td>
                    <td>Civil Engineer</td>
                    <td>mdonhardtk</td>
                    <td>mdonhardtk@statcounter.com</td>
                    <td>F</td>
                <tr>
                    <td>Katerine Pearne</td>
                    <td>Product Engineer</td>
                    <td>kpearnel</td>
                    <td>kpearnel@msu.edu</td>
                    <td>F</td>
                <tr>
                    <td>Ilysa Trineman</td>
                    <td>General Manager</td>
                    <td>itrinemanm</td>
                    <td>itrinemanm@wired.com</td>
                    <td>F</td>
                <tr>
                    <td>Norris Durnin</td>
                    <td>Senior Quality Engineer</td>
                    <td>ndurninn</td>
                    <td>ndurninn@boston.com</td>
                    <td>F</td>
                <tr>
                    <td>Albertina Boik</td>
                    <td>Mechanical Systems Engineer</td>
                    <td>aboiko</td>
                    <td>aboiko@jiathis.com</td>
                    <td>F</td>
                <tr>
                    <td>Barty Colborn</td>
                    <td>Human Resources Manager</td>
                    <td>bcolbornp</td>
                    <td>bcolbornp@independent.co.uk</td>
                    <td>F</td>
                <tr>
                    <td>Eilis Freyne</td>
                    <td>Project Manager</td>
                    <td>efreyneq</td>
                    <td>efreyneq@moonfruit.com</td>
                    <td>M</td>
                <tr>
                    <td>Tristan Saberton</td>
                    <td>Nurse Practicioner</td>
                    <td>tsabertonr</td>
                    <td>tsabertonr@cyberchimps.com</td>
                    <td>F</td>
                <tr>
                    <td>Babita De Lascy</td>
                    <td>Accounting Assistant IV</td>
                    <td>bdes</td>
                    <td>bdes@i2i.jp</td>
                    <td>F</td>
                <tr>
                    <td>Mirilla Newling</td>
                    <td>Software Test Engineer I</td>
                    <td>mnewlingt</td>
                    <td>mnewlingt@live.com</td>
                    <td>F</td>
                <tr>
                    <td>Olenka Spincke</td>
                    <td>Teacher</td>
                    <td>ospinckeu</td>
                    <td>ospinckeu@jigsy.com</td>
                    <td>M</td>
                <tr>
                    <td>Harv Ewbanck</td>
                    <td>Geological Engineer</td>
                    <td>hewbanckv</td>
                    <td>hewbanckv@hostgator.com</td>
                    <td>F</td>
                <tr>
                    <td>Felipa Metts</td>
                    <td>Structural Analysis Engineer</td>
                    <td>fmettsw</td>
                    <td>fmettsw@etsy.com</td>
                    <td>M</td>
                <tr>
                    <td>Garner Geggus</td>
                    <td>Product Engineer</td>
                    <td>ggeggusx</td>
                    <td>ggeggusx@home.pl</td>
                    <td>F</td>
                <tr>
                    <td>Felic Tulley</td>
                    <td>Structural Engineer</td>
                    <td>ftulleyy</td>
                    <td>ftulleyy@arizona.edu</td>
                    <td>M</td>
                <tr>
                    <td>Darin Rawdales</td>
                    <td>Help Desk Operator</td>
                    <td>drawdalesz</td>
                    <td>drawdalesz@guardian.co.uk</td>
                    <td>F</td>
                <tr>
                    <td>Alec Brandli</td>
                    <td>Human Resources Manager</td>
                    <td>abrandli10</td>
                    <td>abrandli10@salon.com</td>
                    <td>M</td>
                <tr>
                    <td>Sebastien Dureden</td>
                    <td>Payment Adjustment Coordinator</td>
                    <td>sdureden11</td>
                    <td>sdureden11@fastcompany.com</td>
                    <td>F</td>
                <tr>
                    <td>Kissiah Tristram</td>
                    <td>Geological Engineer</td>
                    <td>ktristram12</td>
                    <td>ktristram12@amazonaws.com</td>
                    <td>F</td>
                <tr>
                    <td>Anjanette Poston</td>
                    <td>Assistant Media Planner</td>
                    <td>aposton13</td>
                    <td>aposton13@istockphoto.com</td>
                    <td>M</td>
                <tr>
                    <td>Inessa Norkutt</td>
                    <td>Software Consultant</td>
                    <td>inorkutt14</td>
                    <td>inorkutt14@is.gd</td>
                    <td>M</td>
                <tr>
                    <td>Josi Ovise</td>
                    <td>Dental Hygienist</td>
                    <td>jovise15</td>
                    <td>jovise15@yahoo.com</td>
                    <td>F</td>
                <tr>
                    <td>Ingrim Greave</td>
                    <td>Clinical Specialist</td>
                    <td>igreave16</td>
                    <td>igreave16@digg.com</td>
                    <td>F</td>
                <tr>
                    <td>Winthrop Brickner</td>
                    <td>Senior Quality Engineer</td>
                    <td>wbrickner17</td>
                    <td>wbrickner17@cafepress.com</td>
                    <td>M</td>
                <tr>
                    <td>Lila Dell Casa</td>
                    <td>Recruiting Manager</td>
                    <td>ldell18</td>
                    <td>ldell18@mayoclinic.com</td>
                    <td>F</td>
                </tr>
                </tbody>
                <!-- <tfoot>
                <tr>
                  <th>Rendering engine</th>
                  <th>Browser</th>
                  <th>Platform(s)</th>
                  <th>Engine version</th>
                  <th>CSS grade</th>
                </tr>
                </tfoot> -->
              </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

{% endblock %}